<div classname="header" style="display:flex; justify-content: space-between; align-items: center">
	<h1>Threads</h1>
<% unless current_user.role == 0 %>
  <%= link_to "New Thread", new_message_path, class: "btn btn-primary" %>
<% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered table-striped table-plain" style="width: 100%; text-align: center; border: 2px solid #ccc; border-collapse: collapse; padding: 10px; margin-bottom: 20px; font-family: Arial, sans-serif; font-size: 14px;">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Thread Content</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= truncate(message.content, length: 120) %></td>
          <td><%= User.find_by(id: message.user_id) ? User.find(message.user_id).first_name + ' ' + User.find(message.user_id).last_name : 'Deleted user' %></td>

          <td>
            <div class="btn-group" role="group" aria-label="Message actions">
              <%= link_to "Show", message, class: "btn btn-success" %>&emsp;
              <% if current_user.role == 1 %>
                <%= link_to "Edit", edit_message_path(message), class: "btn btn-secondary" %>&emsp;
                <%= button_to "Delete", message, method: :delete, data: { confirm: "Are you sure you want to delete this reply?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% unless current_user.role == 0 %>
  <%= link_to "New Thread", new_message_path, class: "btn btn-primary" %>
<% end %>

