<nav class="navbar navbar-dark bg-secondary navbar-expand-lg">
  <div class="container-fluid">
    <%=link_to "Basecamp", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

         <%if user_signed_in?%>

          <li class="nav-item">
            <%=link_to "Projects", projects_path, class: "nav-link active"%>
          </li>
          
            <li class="nav-item">
              <%= link_to "Threads", messages_path, class: "nav-link active" %>
            </li>

          <%if current_user.role == 1%>

          <li class="nav-item">
            <%=link_to "Users", users_path, class: "nav-link active"%>
          </li>
          <%end%>
          <li class="nav-item">
            <%=link_to "Profile", user_path(current_user.id), class: "nav-link active"%>
          </li>

          <li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active", data: { turbolinks: false } %>
</li>

             
          <li class="nav-item nav-link disabled"> <%= current_user.email %></li>
          <%end%>
        
      </div>
    </div>
  </div>
</nav>