<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 600px; border: 1px solid #ccc;">
    <div class="card-body">
      <h1 class="card-title text-center mb-4">Edit <%=@user.first_name%></h1>

     <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being updated:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, disabled: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit "Update #{@user.first_name}", class: "btn btn-primary" %>
          <%= link_to "Cancel", users_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
