<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 10vh;">
    <h2> All Users </h2>
    </div>

<table class="table table-hover table-bordered table-striped table-plain" style="width: 100%; text-align: center; border: 2px solid #ccc; border-collapse: collapse; padding: 10px; margin-bottom: 20px; font-family: Arial, sans-serif; font-size: 14px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Role</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>
  
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
        <td><%= user.email%></td>
        <td><%= user.role == 0 ? "User" : "Admin" %></td>
        <td>
        <div class="btn-group">
          <%=link_to "Edit", edit_user_path(user), class: "btn btn-primary"%>&emsp;
    
          <% if user.role == 0 %>
            <%= button_to "Make Admin", update_role_path(user), params: { user: { role: 1 } }, method: :patch, class: "btn btn-success", onclick: "refreshPage()" %>
            <% else %>
              <%= button_to "Remove Admin", update_role_path(user), params: {user: {role: 0} }, method: :patch, class: "btn btn-danger", onclick: "refreshPage()" %>
            <% end %>
        </div>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
  function refreshPage() {
    location.reload();
  }
</script>

